<main class="glassCard flexColumn">
    <header>Edit Place</header>
    <section>
        <mat-form-field class="fullWidth">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    
        <mat-form-field class="fullWidth">
            <mat-label>Month</mat-label>
            <mat-select panelClass="panel" [(value)]="month">
                <mat-option [value]="month.value" *ngFor="let month of months">{{ month.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fullWidth" >
            <mat-label>Year</mat-label>
            <mat-select panelClass="panel" [(value)]="year">
                <mat-option [value]="year.value" *ngFor="let year of years">{{ year.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="fullWidth">
            <mat-label>Comments</mat-label>
            <textarea matInput [(ngModel)]="comments"></textarea>
        </mat-form-field>

        <app-image-viewer *ngFor="let preview of preExistingImages;let i = index" [preview]="preview" [i]="i" (removeImage)="removePreExistingImage(i)"></app-image-viewer>

        <app-image-viewer *ngFor="let preview of imagePreviews;let i = index" [preview]="preview" [i]="i" (removeImage)="removeImage(i)"></app-image-viewer>
    
        <button mat-button class="glassCardButton" (click)="imageUploader.click()">
            <mat-icon>photo_camera</mat-icon>
            Add Image
        </button>
        <input type="file" multiple class="hidden" #imageUploader (change)="imageUploadHandler($event)" accept="image/*">

    </section>
    <footer>
        <button mat-button class="glassCardButton" (click)="saveButtonHandler()">
            <mat-spinner *ngIf="loading"></mat-spinner>
            <span *ngIf="!loading">Save</span>
        </button>
    </footer>
</main>