main {
    padding: 1em;
}

button {
    max-width: min-content;
    align-self: flex-end;
    padding: .5em 2em;
    white-space: nowrap;
}

mat-spinner {
    width: 1em !important;
    height: 1em !important;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--font-color);
}

.mdc-circular-progress {
    position: initial;
}

