.hamburger,
.hamburgerOpen {
  @apply relative flex flex-col items-center justify-center w-8 h-8 cursor-pointer;
}

.hamburger div,
.hamburger::before,
.hamburger::after,
.hamburgerOpen div,
.hamburgerOpen::before,
.hamburgerOpen::after {
  @apply absolute left-0 w-full h-0.5 bg-neutral-100 rounded transition-all duration-300 ease-in-out;
  content: "";
}

.hamburger::before {
  top: 0;
}
.hamburger div {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger::after {
  bottom: 0;
}

.hamburgerOpen::before {
  transform: rotate(45deg);
  top: 50%;
}
.hamburgerOpen div {
  opacity: 0;
}
.hamburgerOpen::after {
  transform: rotate(-45deg);
  bottom: 50%;
}