<mat-progress-spinner
    *ngIf="loading"
    [color]="spinnerColor"
    [mode]="spinnerMode"
    diameter="125"
    strokeWidth="10"
/>

<main class="glassCard" *ngIf="!loading && places.length < 1">
    <section>
        <h2>Oops!</h2>
        <p>Looks like we didn't (or haven't yet) gone anywhere this year.<br><br>
            Well, that or we are just being slow to update. Sometimes life gets busy, ya know?</p>
    </section>
</main>

<mat-accordion *ngIf="!loading" multi>
    <mat-expansion-panel *ngFor="let place of places" class="glassCard">
        <mat-expansion-panel-header>
            <mat-panel-title>{{getMonthFor(place.MonthVisited)}} - {{place?.PlaceName}}</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="comments">
            {{place?.Comments}}
        </p>
        <img *ngFor="let url of place.Images" src="https://osteroushimages.s3.us-east-2.amazonaws.com/{{url}}">
        <footer>
            <!-- -->
            <button *ngIf="loggedIn && !deleting" mat-button class="glassCardButton editButton" (click)="editPlace(place)">
                Edit
            </button>
            <button *ngIf="loggedIn" mat-button class="glassCardButton" (click)="deletePlace(place)">
                <mat-spinner *ngIf="deleting"></mat-spinner>
                <span *ngIf="!deleting">Delete</span>
            </button>
        </footer>
    </mat-expansion-panel>
</mat-accordion>