:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    height: 100%;
}

p {
    margin-bottom: 0;
}

section {
    padding: 1.5em;
}

.footer {
    padding: 1em 1.25em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgb(0 0 0 /10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-progress-spinner {
    margin: 5em auto auto auto;
    --mdc-circular-progress-active-indicator-color: var(--font-color);
    opacity: .6;
}
mat-expansion-panel {
    margin: 0 auto 1em auto;
    border-radius: 10px !important;
}

mat-panel-title {
    color: var(--font-color) !important;
}

.comments {
    margin: 1em 0;
}

img {
    width: 100%;
}