.flexColumn {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(./assets/osteroushBackground.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    --font-color: #e8eaf5;
    --primary-purple: #632f56;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
}

.glassCard {
    color: var(--font-color);
    background-color: rgba(255, 255, 255, .25);
    border: 1px solid rgb(201, 195, 231, .5);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    width: calc(100vw - 6em);
    padding: 1.5em;
    box-sizing: border-box;
    max-width: 50em;
    margin: 3em auto;
}