.flexColumn {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(./assets/osteroushBackground.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    --font-color: #e8eaf5;
    --primary-purple: #632f56;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
