<main class="glassCard flexColumn">
    <header>Add Place</header>
    <section>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Comments</mat-label>
            <input matInput [(ngModel)]="comments">
        </mat-form-field>

        <app-image-viewer *ngFor="let preview of imagePreviews;let i = index" [preview]="preview" [i]="i" (removeImage)="removeImage(i)"></app-image-viewer>
    
        <button mat-button class="glassCardButton" (click)="imageUploader.click()">
            <mat-icon>photo_camera</mat-icon>
            Add Image
        </button>
        <input type="file" multiple class="hidden" #imageUploader (change)="imageUploadHandler($event)" accept="image/*">

    </section>
    <footer>
        <button mat-button class="glassCardButton" (click)="saveButtonHandler()">
            Save
        </button>
    </footer>
</main>