<!-- <div class="flexColumn">
    <input type="text" [(ngModel)]="name" placeholder="Name">
    <input type="date" [(ngModel)]="date">
    <input type="text" [(ngModel)]="comments" placeholder="Comments">
    <input type="file" multiple (change)="imageUploadHandler($event)">
    <button (click)="saveButtonHandler()">Save</button>
    <button (click)="updateButtonHandler()">Update</button>
    <button (click)="deleteButtonHandler()">Delete</button>
</div>

<!-- <img src="https://osteroushimages.s3.us-east-2.amazonaws.com/onemoretime0.png"> -->
<!-- the message:<br>
{{placeToDisplay?.Item?.Name}}<br>
{{placeToDisplay?.Item?.Date}}<br>
{{placeToDisplay?.Item?.Comments}}<br>

<img *ngFor="let image of placeToDisplay?.Item?.Images" src="https://osteroushimages.s3.us-east-2.amazonaws.com/{{image}}"/> -->