.menu {
    position: fixed;
    left: 0;
    transform: translate3d(-200vw, 0, 0);
    height: 100%;/*calc(100% - 4.9em);*/
    width: min-content;
    z-index: 5;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.menuGlassCard {
    color: red;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgb(201, 195, 231, .5);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    transform: translate3d(0vw, 0, 0);
}

mat-icon {
    margin-right: .25em !important;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    color: var(--primary-purple);
}

li {
    font-size: 2em;
    text-decoration: none;
    border-bottom: 1px solid rgb(201, 195, 231, .5);
    height: min-content;
    min-width: min-content;
    box-sizing: border-box;
    padding: 1em 0;
    cursor: pointer;
    width: 100%;
    word-break: normal;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}