<div *ngIf="images.length > 1" class="relative w-full pt-4 overflow-hidden h-80">
  <div
    [@slideAnimation]="animationDirection"
    class="absolute inset-0 flex items-center justify-center"
  >
    <img
      [src]="getImageUrl(currentImageIndex)"
      (click)="onImageClick()"
      alt="Place Image"
      class="object-cover w-full h-full transition-all duration-500 ease-in-out rounded-lg shadow-md cursor-pointer"
    />
  </div>

  <!-- Arrows -->
  <div class="absolute inset-y-0 left-0 z-10 flex items-center pl-4">
    <button
      (click)="prevImage()"
      class="p-2 rounded-full bg-white/30 hover:bg-white/40 backdrop-blur-md"
      aria-label="Previous Image"
    >
      <lucide-icon name="ChevronLeft" class="w-6 h-6 text-neutral-800"></lucide-icon>
    </button>
  </div>

  <div class="absolute inset-y-0 right-0 z-10 flex items-center pr-4">
    <button
      (click)="nextImage()"
      class="p-2 rounded-full bg-white/30 hover:bg-white/40 backdrop-blur-md"
      aria-label="Next Image"
    >
      <lucide-icon name="ChevronRight" class="w-6 h-6 text-neutral-800"></lucide-icon>
    </button>
  </div>
</div>
